<div class="container">
<h1 class="my-3">New Sector</h1>
<hr>
<%= render "form", sector: @sector %>

<br>


   <div class="btn btn-outline-dark">
  <%= link_to "Back", sectors_path %> </div>
</div>  
</div>