<div class="container my-3"><h1>Editing physician</h1>
<hr>

<%= render "form", physician: @physician %>

<div>
<hr>
<button>
  <%= link_to "Show", @physician %> 
  </button>
  <button>
  <%= link_to "Back to", physicians_path %>
  </button>
</div>
</div>
