<div class="container">
<h1 class="my-3">New physician</h1>
<hr>
<%= render "form", physician: @physician %>

<br>

<div class="btn btn-outline-dark">
  <%= link_to "Back to physicians", physicians_path %>
</div>
</div>
