<div class="container">
<h1 class="my-3">Editing industry</h1>
<hr>

<%= render "form", industry: @industry %>
<div>
<div class="btn btn-outline-dark">
  <%= link_to "Edit", edit_industry_path(@industry) %> 
  </div> 
   <div class="btn btn-outline-dark">
  <%= link_to "Back", industries_path %> </div>
</div>
</div>
</div>
