<div class="container">
<h1 class="my-3">New industry</h1>
<hr>
<%= render "form", industry: @industry %>

<br>
<hr>

   <div class="btn btn-outline-dark">
  <%= link_to "Back", industries_path %> </div>
</div>  
</div>